<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790215680618-sq9350irg9u5imoan7pmjordvrfb6san.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790215680618-sq9350irg9u5imoan7pmjordvrfb6san</string>
	<key>API_KEY</key>
	<string>AIzaSyARgExsO5g_lL9yBWzEDSt398djzyn30N4</string>
	<key>GCM_SENDER_ID</key>
	<string>790215680618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ihitesh.EasyRent</string>
	<key>PROJECT_ID</key>
	<string>easyrent-3a1bc</string>
	<key>STORAGE_BUCKET</key>
	<string>easyrent-3a1bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790215680618:ios:c6de7ad732503b1c9ae013</string>
</dict>
</plist>